.body{
    font-family: "Montserrat";
}
.card{
    width:300px;
    background-color: rgb(255, 240, 220);
    
}
.card img{
    width:100%;
    height: auto;
}
.card-content{
  
    padding: 15px;
    color: black;
}
.card h3{
  font-size: x-large;
  font-weight: 10px;
  color: black;
    margin:0
}
.card .btn{
    text-decoration: none;
    background-color: darkblue;
    padding:5px 20px;
    display: inline-block;
    color: whitesmoke;
}


