*{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
   
   .body{
  color: rgb(56, 7, 56);
    background-color:  rgb(56, 7, 56);
   }
}
.signIn{
    width:60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content:center;
   position: absolute;
    top: 200px;
    

   
   
  
    
}
.leftSide{
    width: 35%;
    background-color: antiquewhite;
    align-items: center;
    line-height: 10px;
   border-radius: 10px 0px 0px 10px;
   
}
.inside{
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    row-gap: 15px;
    padding-left: 30px;
    margin-top: 50px;

}
.rightSide{
    width: 65%;
    background-image:url("../img/neon-background-image_351866.jpg");
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    opacity: 0.4;
    filter: blur(4);
    color: rgb(247, 230, 230);
    border-radius: 0px 10px 10px 0px;
}
.rightSide h2{
    font-size: xx-large;
    margin-bottom: 0;
    padding-bottom: 0;
}
h3{
    margin-left: 10px;
}
h3 a{
    text-decoration: none;
    color: black;
    text-align: left;
}
form input{
    border:none;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(56, 7, 56);
    color: antiquewhite;
    font-size: larger;
    
   
}
button:hover{
    cursor: pointer;
}
