.heads tr{
    background-color: rgb(36, 33, 33);
    color: white;
    font: 1em sans-serif;
    font-size: large;
    text-transform: capitalize;
    padding: 5px;
}
.bodies{
    text-transform: capitalize;
    font: 1em sans-serif;
    font-size:medium;
    padding: 1rem;
}
.table tbody tr td{
    padding: 5px;
}
.table tbody  tr:nth-child(odd){
    background-color:rgb(197, 183, 186);
}

.table tbody  tr:nth-child(even){
    background-color:  whitesmoke;
}
.table tbody  td:nth-child(3n+3){
    text-align: center;
    padding-right:10px ;
}
.table tbody  td:nth-child(1n+4){
    text-align: right;
}
.sepet>div a{
    border: none;
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: orangered;
    padding: 5px;
    margin-top: 1rem;
    
}
.sepet>div a:hover{
    color: orangered;
    background-color: whitesmoke;
}
.sepet{
    margin-top: 1rem;
    display: flex;
    justify-content:end;
    flex-wrap: wrap;
    gap: 1rem;
}